* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ccc;
    padding: 10px 20px;
}

.logo {
    height: 50px;
    width: auto;  
  }  

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.text {
    background-color: #555;
    color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.form-container {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}

footer {
    background-color: #ccc;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}
